/* GENERAL */

:root {
    --main-color: #E3E3D5;
    --carbon: #202020;
    --lemon-green: #EFF422;
    --border-radius-size: 10px;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background-color: var(--main-color);
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* HERO */

.hero-page {
    max-width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
}

.hero-page h1 {
    font-weight: 1000;
    font-size: clamp(2rem, 1rem + 4vw , 6rem);
    max-inline-size: 80%;
    text-transform: uppercase;
    text-align: left;
    color: var(--carbon);
}

.hero-page h1 span {
    text-decoration: 10px underline #f7fc00;
}

.arrow-btn {
    margin-top: 20px;
    width: 100%;
    height: 10%;
    background: var(--lemon-green);
    border-radius: var(--border-radius-size);
    border: 1px solid var(--carbon);
    transition: all 200ms ease;
}

.arrow-btn svg {
    width: 50%;
    height: 50%;
    transition: all 200ms ease;
}

.arrow-btn:hover {
    background: var(--carbon);
    transition: all 200ms ease;
}

.arrow-btn:hover svg {
    color: var(--lemon-green);
    transition: all 200ms ease;
}

/* IPA SECTION */

.ipa-chart-container {
    display: flex;
    padding: 15px;
    gap: 15px;
    max-width: 100%;
    min-height: 97%;
    background: var(--main-color);
}

.vowels-chart-container, .cons-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    padding: 20px 40px;
    background: #f7fc00;
    border: 1px solid var(--carbon);
    border-radius: var(--border-radius-size);
}

.cons-chart-container {
    gap: 20px;
}

.vowels-chart, .consonants-chart {
    margin: auto 0;
}

.chart-title h2 {
    font-weight: 1000;
    font-size: clamp(3rem, 1rem + 4vw , 4rem);
    color: #202020;
}

.vowels-title h3 {
    font-weight: 600;
    font-style: italic;
    margin: 20px;
}


.vowels-chart, .consonants-chart, .vowels-chart .monophthongs, .vowels-chart .diphthongs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.ipa-item {
    width: 5.3rem;
    height: 5.3rem;
    background: #202020;
    border-radius: var(--border-radius-size);
}

@media (max-width: 750px) {
    .ipa-chart-container {
        flex-direction: column;
    }
}


/* EXPLANATION */

.ipa-explanation {
    width: 100%;
    min-height: 97%;
    background: var(--carbon);
    color: white;
}

